/* ||||||||||||||| MAIN PAGE ||||||||||||||| */
.main-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.header {
  font-size: 2.6667rem;
  margin-top: 0.61875rem;
  margin-bottom: 1rem;
  font-family: 'Roboto';
}

/* ||||||||||||||| INFORMATION PAGE  ||||||||||||||| */

/* ||||||||||||||| UNUSED ||||||||||||||| */
/* .navbar {} */
