/* ||||||||||||||| GLOBAL ||||||||||||||| */
.NavBar {
  padding-left: 45rem;
  padding-top: 5rem;
}

/* ||||||||||||||| MAIN PAGE ||||||||||||||| */
.main-container {
  background-color: rgb(234, 234, 234);
}

.main-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: inherit;
}

.header {
  font-size: 2.6667rem;
  margin-top: 0.61875rem;
  margin-bottom: 4rem;
  font-family: 'Roboto';
}

.header:before {
  content: "";
  position: absolute;
  width: 15.75rem;
  top: 12.5rem;
  left: 71.5rem;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.user {
  display: flex;
  padding-right: 23rem;
  font-weight: 600;
}

.image {
  height: 600px;
  width: 600px;
  border-radius: 25px;
}

.video {
  height: 600px;
  width: 600px;
  border-radius: 25px;
}

.like-and-friends {
  display: flex;
  padding-right: 23rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', sans-serif;
  padding-left: 50rem;
  padding-right: 50rem;
}

.title-date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-weight: 650;
}

/* ||||||||||||||| INFORMATION PAGE  ||||||||||||||| */

/* ||||||||||||||| UNUSED ||||||||||||||| */
/* .date {} */
/* .explanation {} */
